*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #ada7a7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2{
    margin-top: 10px;
}

#display{
    width: 95%;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    text-align: right;
    font-size: 1.5rem;
}

.row-num{
    margin: 10px;
}

.row-num button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: border-radius .4s ease;
}

.row-num button:hover{
    border-radius: 30%;
}